# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Client/Library/
Client/Temp/
Client/.vs/Client/v14/.suo
Client/Assembly-CSharp-Editor-firstpass.csproj
Client/Assembly-CSharp-Editor.csproj
Client/Assembly-CSharp-firstpass.csproj
Client/Client.csproj
Client/Client.Editor.csproj
Client/Client.Editor.Plugins.csproj
Client/Client.Plugins.csproj
Client/obj/Debug/Assembly-CSharp-Editor-firstpass.csproj.CoreCompileInputs.cache
Client/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
Client/obj/Debug/Assembly-CSharp-firstpass.csproj.CoreCompileInputs.cache
Client/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
